<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/w3.css" />
</head>

<body>
    <!-- Sidebar -->
    <div id="sidebar" class="w3-sidebar w3-bar-block w3-border-right" style="display:none">
        <button id="sidebar_close" class="w3-bar-item w3-large">&times;</button>
        <%- sidebar_items %>
    </div>

    <!-- Show Button -->
    <div>
        <button id="show_sidebar" class="w3-btn w3-circle w3-text-black w3-white w3-xlarge">☰</button>
    </div>
    <!-- Main Frame -->
    <div class="w3-container w3-display-container w3-half">
        <div class="w3-container">
            <img src="/templates/<%- name %>/example.png" alt="Lights" style="width:100%">
            <h1 class="w3-text-blue"><%- tips %></h1>
        </div>

        <div class="w3-container">
            <!--配置-->
            <%- container_items %>

                <div id="result"></div>

                <p>
                    <button id="submit_btn" class="w3-btn w3-blue">生成</button>
                </p>
        </div>

        <script src="/javascripts/cookies.js"></script>
        <script src="/javascripts/main.js"></script>
</body>

</html>